body {
    margin: 0px;
    padding: 0px;
}

#container {
    /*background-image: url('http://www.html5canvastutorials.com/demos/assets/greenstars.jpg');*/
    display: inline-block;
    overflow: hidden;
    height: 500px;
    width: 700px;
}